<p id="notice"><%= notice %></p>

<h1>Phrase Scores</h1>

<table>
  <thead>
    <tr>
      <th>English familiarity rank</th>
      <th>Foreign familiarity rank</th>
      <th>Studying now</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phrase_scores.each do |phrase_score| %>
      <tr>
        <td><%= phrase_score.english_familiarity_rank %></td>
        <td><%= phrase_score.foreign_familiarity_rank %></td>
        <td><%= phrase_score.studying_now %></td>
        <td><%= link_to 'Show', phrase_score %></td>
        <td><%= link_to 'Edit', edit_phrase_score_path(phrase_score) %></td>
        <td><%= link_to 'Destroy', phrase_score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phrase Score', new_phrase_score_path %>
