<%= form_with(model: situation, local: true) do |form| %>
  <% if situation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(situation.errors.count, "error") %> prohibited this situation from being saved:</h2>

      <ul>
        <% situation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, 'SITUATION TITLE' %>
    <%= form.text_field :name, size: 55 %>
  </div>

  <div class="field">
    <%= form.label :text_blob_for_phrases, 'YOUR PHRASES' %>
    <%= form.text_area :text_blob_for_phrases, cols: "89", rows: "13"%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
