<center><h1>Editing The Title of The Situation</h1>

<%= form_for @situation do |f| %>
<% if @situation.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(situation.errors.count, "error") %> prohibited this situation from being saved:</h2>

    <ul>
      <% situation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= f.label :name, "CHANGE THE NAME OF THE SITUATION" %>
  <%= f.text_field :name, size: 55 %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>

<%= link_to 'Back', situations_path %>
</center>
