<center><p id="notice"><%= notice %></p></center>

<center><h1>SITUATIONS</h1></center>
<% if @situations.all.count > 0 %>
<center>


  <table>
  <thead>
    <tr>
      <th>STUDY</th>
      <th>  </th>
      <th>YOUR SITUATIONS</th>
      <th colspan="4"><center>ACTIONS</center></th>
    </tr>
  </thead>

<form action="/users/<%=@user.id%>/flashcards" accept-charset="UTF-8" method="post">
  <input type="hidden" name="authenticity_token" value=<%=form_authenticity_token%>>
  <tbody>
    <% @situations.each do |situation| %>
      <tr>

        <td>
          <center><input type="hidden" name="user[situations][][id]" value=<%= situation.id%>>
        <input type="checkbox" name="user[situations][][studying_now]" unchecked="false" checked="true">
        </center></td>
        <td> <strong>|</strong> </td>
        <td><%= situation.name %></td>
        <td> <strong>|</strong> </td>
        <td><center><%= link_to 'EDIT SITUATION TITLE', edit_situation_path(situation) %></center></td>
        <td><center><%= link_to 'EDIT PHRASES', situation_phrases_path(situation) %></center></td>
        <td><center><%= link_to 'DELETE', "/situations/#{situation.id}/destroy", method: :destroy %></center></td>
      </tr>
    <% end %>
    <tr><td><input type="submit" value="STUDY"></td> <td></td> <td></td><td></td><td></td><td></td> <td>
    <%= link_to 'CREATE NEW', new_situation_path %></td></tr>
  </tbody>
</form>

</table>

</center>

<br>


<% else %>
<center>
<%= link_to 'CREATE NEW SITUATION', new_situation_path %>
</center>
<% end %>

<center><%= link_to 'USER ALL PHRASES', user_phrases_path(@user) %></center>
