<center><p id="notice"><%= notice %></p></center>

<center><h1>SITUATIONS</h1></center>
<% if @situations.all.count > 0 %>
<center>


  <table>
  <thead>
    <tr>
      <th>STUDY</th>
      <th>  </th>
      <th>YOUR SITUATIONS</th>
      <th colspan="4"><center>ACTIONS</center></th>
    </tr>
  </thead>

  <tbody>
    <% @situations.each do |situation| %>
      <tr>
        <td><center><%= check_box_tag 'activated[]', situation.studying_now %><center></td>
        <td> <strong>|</strong> </td>
        <td><%= situation.name %></td>
        <td> <strong>|</strong> </td>
        <td><center><%= link_to 'EDIT SITUATION TITLE', edit_situation_path(situation) %></center></td>
        <td><center><%= link_to 'EDIT PHRASES', situation_phrases_path(situation) %></center></td>
        <td><center><%= link_to 'DELETE', "/situations/#{situation.id}/destroy", method: :destroy %></center></td>
      </tr>
    <% end %>
  </tbody>

The situation checkbox submit should do two things:
1) make sure it sets booleans to true for each situation.studying_now
2) make sure it redirect to '/users/:id/flashcards' => "scores#index"

</table>

</center>

<br>
<center>
<%= link_to 'Create a New Situation', new_situation_path %>
</center>

<% else %>
<center>
<%= link_to 'Create a New Situation', new_situation_path %>
</center>
<% end %>
