<p id="notice"><%= notice %></p>

<h1>Situations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Studying now</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @situations.each do |situation| %>
      <tr>
        <td><%= situation.name %></td>
        <td><%= situation.studying_now %></td>
        <td><%= link_to 'Show', situation %></td>
        <td><%= link_to 'Edit', edit_situation_path(situation) %></td>
        <td><%= link_to 'Destroy', situation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create a New Situation', new_situation_path %>
