<h1>Log In Here</h1>

<%= flash[:error] %>

<%= form_for (@user), url: '/login' do |f| %>

<%= render partial: 'layouts/errors', locals: {object: @user} %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Log In" %>

<% end %>
