<center><p id="notice"><%= notice %></p>
<br>
<br>
<h1><%= @phrase.category %></h1>
<br>
  <h2>English: <%= @phrase.english %></h2>
  <h2>English Equivalent: <%= @phrase.english_equivalent %></h2>
  <h2>Japanese: <%= @phrase.japanese %></h2>
  <br>
  <br>
  <h2><font color="red">SOLUTION</font></h2>
  <h2>Japanese Phonetic: <%= @phrase.japanese_phonetic %></h2>
  <br>
  </center>
<br><br>
<center>
  <table>
    <thead>
      <tr>
        <th colspan="6"><center>SELECT YOUR LEVEL OF FAMILIARITY FOR THE PHRASE ABOVE</center></th>
      </tr>
    <tbody>
  <form action="/users/<%=@user.id%>/flashcards/<%=@phrase.id%>/study_time_rank_familiarity" accept-charset="UTF-8" method="post">
    <input name="_method" type="hidden" value="patch">
    <input type="hidden" name="authenticity_token" value=<%=form_authenticity_token%>>
    <tr>
      <td><label for="level6">I don't know this at all.</label></td>
      <td><label for="level5">It's unfamiliar.</label></td>
      <td><label for="level4">I feel pessimistic.</label></td>
      <td><label for="level3">I feel optimistic.</label></td>
      <td><label for="level2">It's familiar.</label></td>
      <td><label for="level1">I totally know this!</label></td>
    </tr>
    <tr>
    <td><center><input type="radio" id="level6" name="score_id" value=<%=@user.scores[5].id%>></center></td>
    <td><center><input type="radio" id="level5" name="score_id" value=<%=@user.scores[4].id%>></center></td>
    <td><center><input type="radio" id="level4" name="score_id" value=<%=@user.scores[3].id%>></center></td>
    <td><center><input type="radio" id="level3" name="score_id" value=<%=@user.scores[2].id%>></center></td>
    <td><center><input type="radio" id="level2" name="score_id" value=<%=@user.scores[1].id%>></center></td>
    <td><center><input type="radio" id="level1" name="score_id" value=<%=@user.scores[0].id%>></center></td>
    </tr>

    <tr>
      <td colspan="6"><center><input type="submit" value="RANK"><center></td></tr>
    </tbody>
    </table>
</center>

<br>
