<center><p id="notice"><%= notice %></p>

  <table>
    <thead>
      <tr>
        <th>SITUATIONS CURRENTLY SELECTED FOR STUDY:</th>
      </tr>
    </thead>
    <tbody>
      <% @situations.each do |s| %>
        <% if s.studying_now == true %>
          <tr>
            <td><%= s.name %></td>
          </tr>
        <% else %>
          <% next %>
        <% end %>
      <% end %>
    </tbody>
  </table>

<br>
<h3>SELECT THE FAMILIARITY LEVELS YOU WOULD LIKE TO STUDY FOR THE ABOVE SITUATIONS</h3>
<br>
<table>
  <thead>
    <tr>
      <th><center>Study</center></th>
      <th><center>Familiarity Name</center></th>
    </tr>
  </thead>

  <form action="/users/<%=@user.id%>/flashcards/study_time" accept-charset="UTF-8" method="post">
    <input type="hidden" name="authenticity_token" value=<%=form_authenticity_token%>>

  <tbody>
    <% @scores.each do |score| %>
      <tr>
        <td><center><input type="hidden" name="user[scores][][id]" value=<%= score.id%>>
      <input type="checkbox" name="user[scores][][studying_now]" unchecked="false" checked="true"><center></td>
        <td><%= score.familiarity_name %></td>
      </tr>
    <% end %>
    <tr><td><input type="submit" value="STUDY"></td> <td></td> <td></td> <td></td> <td></td></tr>
  </tbody>
</table>

<br>


<br>
