<center><p id="notice"><%= notice %></p>

<h1>Scores</h1>

<table>
  <thead>
    <tr>
      <th><center>Study</center></th>
      <th><center>Familiarity Name</center></th>
      <th><center>Point Value</center></th>
      <th><center>Studying now</center></th>
    </tr>
  </thead>
  <tbody>
    <% @scores.each do |score| %>
      <tr>
        <td><center><%= check_box_tag 'activated[]', score.studying_now %><center></td>
        <td><%= score.familiarity_name %></td>
        <td><center><%= score.familiarity_name_corresponding_points %></center></td>
        <td><center><%= score.studying_now %></center></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
