<center><p id="notice"><%= notice %></p>

<h1>THE CURRENT ROTATION CYCLE FEATURES</h1>

<p>
  <strong>English:</strong>
  <%= @phrase.english %>
</p>

<p>
  <strong>English Equivalent:</strong>
  <%= @phrase.english_equivalent %>
</p>

<p>
  <strong>Japanese</strong>
  <%= @phrase.japanese %>
</p>
<%= link_to 'SHOW SOLUTION', "/users/#{@user.id}/flashcards/#{@phrase.id}/study_time_show_answer", method: :get %>
<br>
</center>
