<center><p id="notice"><%= notice %></p>
<br>
<br>
<h3>For this <%= @phrase.category %> you have <%= @phrase.familiarity_score %> points out of a possible 100.</h3>
<h1></h1>
<br>
  <h2>English: <%= @phrase.english %></h2>
  <h2>English Equivalent: <%= @phrase.english_equivalent %></h2>
  <h2>Japanese: <%= @phrase.japanese %></h2>
  <br>
  <br>
  <h2><%= link_to 'SHOW SOLUTION', "/users/#{@user.id}/flashcards/#{@phrase.id}/study_time_show_answer", method: :get %></h2>
<br>
</center>
