<h1>New Language</h1>

<%= require "google/cloud/translate" %>

<%= translate = Google::Cloud::Translate.new %>

<%= translation = translate.translate "Hello world!", to: "ja" %>

<%= puts translation %>

<%= translation.from %>
<%= translation.origin %>
<%= translation.to %>
<%= translation.text %>
