<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @language.name %>
</p>

<p>
  <strong>Studying now:</strong>
  <%= @language.studying_now %>
</p>

<p>
  <strong>User:</strong>
  <%= @language.user_id %>
</p>

<%= link_to 'Edit', edit_language_path(@language) %> |
<%= link_to 'Back', languages_path %>
