<%= form_for ([@situation, @phrase]) do |f| %>
<% if @phrase.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(phrase.errors.count, "error") %> prohibited this phrase from being saved:</h2>

    <ul>
      <% phrase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="field">
    <%= f.label :category, "CHOOSE YOUR CATEGORY" %>
    <%= f.text_field :category, size: 34 %>
  </div>

  <div class="field">
    <%= f.label :english, "CREATE A NEW PHRASE" %>
    <%= f.text_area :english, cols: "55", rows: "3" %>
  </div>

  <div class="actions">
    <%= f.submit "ADD THIS PHRASE TO THE SITUATION"%>
  </div>
<% end %>
<center>
