<center><h1>MAKE CHANGES TO YOUR PHRASE</h1>

<%= form_for ([@situation, @phrase]) do |f| %>
<% if @phrase.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(phrase.errors.count, "error") %> prohibited this phrase from being saved:</h2>

    <ul>
      <% phrase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= f.label :category, "CHANGE THE CATEGORY" %>
  <%= f.text_field :category, size: 34 %>
</div>

<div class="field">
  <%= f.label :english, "CHANGE THE PHRASE" %>
  <%= f.text_field :english, size: 89 %>
</div>

<div class="actions">
  <%= f.submit "UPDATE"%>
</div>
<% end %>
<%= link_to 'BACK TO PHRASES', situation_phrases_path %>
</center>
