<center><p id="notice"><%= notice %></p></center>

<h1>Phrases</h1>

<table>
  <thead>
    <tr>
      <th>English</th>
      <th>Category</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @phrasesss.each do |phrase| %>
      <tr>
        <td><%= phrase.english %></td>
        <td><%= phrase.category %></td>
        <td><%= link_to 'Edit', edit_situation_phrase_path(phrase) %></td>
        <td><%= link_to 'Destroy', phrase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phrase', new_phrase_path %>
