<center><p id="notice"><%= notice %></p></center>
<center>
<h1>Phrases</h1>

<table>
  <thead>
    <tr>
      <th>English</th>
      <th>Category</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @phrases.each do |phrase| %>
      <tr>
        <td><font color="magenta">This is your original phrase:</font> <%= phrase.english %></td>
        <td><%= phrase.category %></td>
        <td><%= link_to 'EDIT THIS PHRASE', "/situations/#{@situation.id}/phrases/#{phrase.id}/edit", method: :edit %></td>
        <td><%= link_to 'DESTROY',          "/situations/#{@situation.id}/phrases/#{phrase.id}/destroy", method: :destroy %></td>
      </tr>
      <tr>
        <td><font color="red">This more closely resembles what you are saying in Japanese:</font> <%= phrase.english_equivalent %></td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
    <% end %>
  </tbody>
</table>
</center>
