<center>
<h1>ALL OF THE PHRASES CREATED BY "<%= @user.name %>"</h1>

<table>
  <thead>
    <tr>
      <th>Your Data</th>
      <th>Category</th>
    </tr>
  </thead>

  <tbody>
    <% @phrases.each do |phrase| %>
      <tr>
        <td><strong><font color="magenta">This is your original phrase:</font> <%= phrase.english %></strong></td>
        <td><%= phrase.category %></td>
      </tr>
      <tr>
        <td><font color="red">Your Phrase translated back into English from Japanese:</font> <%= phrase.english_equivalent %></td>
      </tr>
      <tr>
        <td><font color="red">The phonetic pronunciation of Japanese:</font> <%= phrase.japanese_phonetic %></td>
      </tr>
      <tr>
        <td>
          <font color="red">Your phrase in Japanese:</font> <%= phrase.japanese %></td>
      </tr>
      <tr>
        <td bgcolor="#FF0000"> </td>
        <td bgcolor="#FF0000"> </td>
        <td bgcolor="#FF0000"> </td>
        <td bgcolor="#FF0000"> </td>
      </tr>
    <% end %>
  </tbody>
</table>

</center>
<center>
