<h1>Sign up here</h1>

<%= form_for(@user) do |f| %>

<%= render partial: 'layouts/errors', locals: {object: @user} %>

  <%= f.label :name %>
  <%= f.text_field :name, required:true %>

  <%= f.label :beta_key %>
  <%= f.text_field :beta_key %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "sign up" %>

<% end %>
