<!DOCTYPE html>
<html>
  <head>
    <title>Phrase Ninja</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <% if logged_in? %>
    <nav class="navbar">
      <%= link_to 'Log Out', logout_path, method: :get, class: 'navlink' %>
      <%= link_to 'All Languages', languages_path, class: 'navlink'%>
      <%= link_to 'New Language', new_language_path, class: 'navlink' %>
      <%= link_to 'All Situations', situations_path, class: 'navlink' %>
      <%= link_to 'New Situation', new_situation_path, class: 'navlink' %>
    </nav>
    <% end %>

    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
